USE [master]
GO
/****** Object:  Database [ChelseaManager]    Script Date: 14.12.2019 01:20:03 ******/
CREATE DATABASE [ChelseaManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChelseaManager', FILENAME = N'M:\SQLMicrosoft\MSSQL14.MSSQLSERVER\MSSQL\DATA\ChelseaManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChelseaManager_log', FILENAME = N'M:\SQLMicrosoft\MSSQL14.MSSQLSERVER\MSSQL\DATA\ChelseaManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChelseaManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChelseaManager]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[PositionID] [int] NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Players] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Players_View]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Players_View] AS
SELECT CONCAT(Players.FirstName,' ', Players.LastName) AS 'Player', Positions.PositionName AS 'Position', Players.Birthdate, Countries.Name AS 'Country', Players.Number 
FROM Players INNER JOIN Countries ON Countries.ID=Players.CountryID INNER JOIN Positions ON Positions.ID =Players.PositionID;
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[CoachRoleID] [int] NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Coaches] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachRoles]    Script Date: 14.12.2019 01:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.CoachRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coaches] ON 

INSERT [dbo].[Coaches] ([ID], [FirstName], [LastName], [CoachRoleID], [Birthdate], [CountryID]) VALUES (1, N'Frank', N'Lampard', 1, CAST(N'1978-06-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Coaches] ([ID], [FirstName], [LastName], [CoachRoleID], [Birthdate], [CountryID]) VALUES (4, N'Joe', N'Edwards', 2, CAST(N'1986-09-26T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Coaches] ([ID], [FirstName], [LastName], [CoachRoleID], [Birthdate], [CountryID]) VALUES (2002, N'Jody', N'Morris', 2, CAST(N'1978-12-22T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Coaches] OFF
SET IDENTITY_INSERT [dbo].[CoachRoles] ON 

INSERT [dbo].[CoachRoles] ([ID], [Role]) VALUES (1, N'Head coach')
INSERT [dbo].[CoachRoles] ([ID], [Role]) VALUES (2, N'Assistant')
SET IDENTITY_INSERT [dbo].[CoachRoles] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Name]) VALUES (1, N'England')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (2, N'Spain')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (3, N'Poland')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([ID], [FirstName], [LastName], [PositionID], [Birthdate], [CountryID], [Number]) VALUES (1, N'Kepa', N'Arrizabalaga', 1, CAST(N'1994-10-03T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Players] ([ID], [FirstName], [LastName], [PositionID], [Birthdate], [CountryID], [Number]) VALUES (5, N'Antonio', N'Rudiger', 2, CAST(N'1993-03-03T00:00:00.000' AS DateTime), 4, 2)
INSERT [dbo].[Players] ([ID], [FirstName], [LastName], [PositionID], [Birthdate], [CountryID], [Number]) VALUES (6, N'Marcos', N'Alonso', 2, CAST(N'1990-12-28T00:00:00.000' AS DateTime), 2, 3)
SET IDENTITY_INSERT [dbo].[Players] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [PositionName]) VALUES (1, N'Goalkeeper')
INSERT [dbo].[Positions] ([ID], [PositionName]) VALUES (2, N'Defender')
INSERT [dbo].[Positions] ([ID], [PositionName]) VALUES (3, N'Midfielder')
SET IDENTITY_INSERT [dbo].[Positions] OFF
/****** Object:  Index [IX_CoachRoleID]    Script Date: 14.12.2019 01:20:04 ******/
CREATE NONCLUSTERED INDEX [IX_CoachRoleID] ON [dbo].[Coaches]
(
	[CoachRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 14.12.2019 01:20:04 ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Coaches]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 14.12.2019 01:20:04 ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Players]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PositionID]    Script Date: 14.12.2019 01:20:04 ******/
CREATE NONCLUSTERED INDEX [IX_PositionID] ON [dbo].[Players]
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Coaches_dbo.CoachRoles_CoachRoleID] FOREIGN KEY([CoachRoleID])
REFERENCES [dbo].[CoachRoles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_dbo.Coaches_dbo.CoachRoles_CoachRoleID]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Coaches_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_dbo.Coaches_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Players_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_dbo.Players_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Players_dbo.Positions_PositionID] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_dbo.Players_dbo.Positions_PositionID]
GO
USE [master]
GO
